.loaderContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
}
.loader{
    width: 10vw;
    height: auto;
}

.circle{
    fill: var(--primary-color);
    stroke: var(--primary-color);
}