.navbar {
    position: relative ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-image: url(../../../dist/static/images/bg2.png);
    background-size: 50px;
    z-index: 4000;

}

.basket{
    max-width: 199px;

}

.name{
    color: var(--primary-color);
}
